* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

body {
  background-color: #f6f7fb;
}
h2 {
  display: flex;
  justify-content: center;
}
nav {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.7;
  font-family: "DM Sans", sans-serif;
  color: #777777;
  font-weight: 400;
  width: 85%;
  position: fixed;
  margin: auto;
  margin-top: 30px;
  margin-left: 100px;
  display: flex;
  z-index: 99;
  box-shadow: 0px 24px 24px -16px rgba(15, 15, 15, 0.2);
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: auto;
  margin-top: 10px;
}

.action {
  margin-left: auto;
}

.ann {
    text-align: left;
}
.about i {
  margin-right: 4px;
}
.about {
  position: relative;
  padding-top: 140px;
  display: flex;
  background-color: antiquewhite;
  padding-left: 76.667px;
}

.about h1 {
  line-height: 1.7;text-align: left;
}

.about img {
  width: 60%;

  height: auto;
  margin-bottom: -120px;
}

.info {
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}

.info div {
  display: flex;
  flex-direction: column;
}

.powerd {
  display: flex;
  background-color: white;
  height: 50px;

  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -40px;
  padding: 1rem;
  padding-block: 3rem;
  border-radius: 10px;
  width: 450px;
  box-shadow: 5px 10px 8px #888888;
}
.tools {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.all {
  position: relative;
}
.tools img {
  background-color: #f6f7fb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 0;
  justify-content: space-between;
}

.ready-project {
  margin-top: 8rem;
}

.head-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.head-home h1,
span {
  word-break: break-word;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.img-photo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-photo > div {
  width: 45%;
}
.img-photo img {
  box-shadow: 0px 24px 24px -16px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  max-width: 100%;
  width: 100%;
}

.img-photo h3 {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.inner-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: space-around;
}

.inner-img > div {
  border-radius: 6px;
  width: 30%;
}
.inner-img img {
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 24px 24px -16px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
}
.inner-img h3 {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
  width: 100%;
}
.inner {
  position: relative;

  margin-top: 5rem;
  background-color: white;
  padding-block: 80px;
}

.head-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.head-inner h1 {
  font-weight: 700;
  line-height: 1.3;
  justify-content: center;
  word-break: break-word;
  text-align: center;
}

i {
  margin-right: 0.5rem;
}

hr {
  margin-bottom: 5rem;
}

.inner-feature {
  display: flex;
  flex-direction: column;
}

.feature-cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10rem;
}

.feature-cards > div {
  width: 30%;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  padding: 50px 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.feature-cards > div > img {
  height: 50px;
  width: 50px;
}
.feature-cards > div > p {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
.inner-feature h1 {
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 5rem;
  justify-content: center;
  word-break: break-word;
  text-align: center;
}

.inner-feature span {
  display: flex;
  justify-content: center;
}


.book {
  display: flex;
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  border-radius: 10px;
  left: 10%;
  padding: 50px 40px;
  width: 38%;
  gap: 10px;
}
.book h3,
.head-set h3 {
  line-height: 1.3;
  font-weight: 700;
}

.book p,
.head-set p {
  line-height: 2.3;
  margin-bottom: 30px;
}
.head-set {
  display: flex;
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  right: 10%;
  border-radius: 10px;
  padding: 50px 40px;
  width: 38%;
  gap: 10px;
}

.bh-cont {
    display: flex;
    justify-content: space-around;
}
/* .icon { 
    width: 150px;
    height: 150px;
   
    border-radius: 99999px;
    background-color: aqua;
} */

.icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 99999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-ready {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.head-ready h1 {
  font-weight: 700;
  line-height: 1.3;
  justify-content: center;
  word-break: break-word;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  color: #777777;
}
.r-u-ready {
    margin-top: 7rem;
  }
.head-ready img {
    width: 50%;
}
@media (max-width: 990px) {
    
    nav {
        width: 100%;
        margin-left: 0;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    .action {
        display: flex;
        justify-content: center; margin: 0;
        width: 80%;
    }
    .action > button {
       width: 90%;
    }
  .about {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  

  .about img {
    margin-bottom: 0px;
  }

  .powerd {
    width: fit-content;
    position: static;
  }

  .ann {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
   
  }

  .about h1 {
    text-align: center;
  }

  .info {
    justify-content: center;
    width: 100%;
  }
}


@media (max-width: 1070px) {

    .bh-cont {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .bh-cont > div {
        width: 80%;
    }
}

@media (max-width: 400px) {

    .book, .head-set {
        flex-direction: column;
        align-items: center;
    }
    nav {
        display: none;
    }
    .tools {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      .powerd {
        width: 80%;
        position: static;
        height: fit-content;
        flex-direction: column;
      }

      .info {
        flex-direction: column;
      }
}

@media (max-width: 700px) {

    .ann {
        margin-top: 20rem;
    }
    .feature-cards > div {
        width: 90%;
    }

    .inner-img > div {
       
        width: 90%;
      }

      .img-photo > div {
        width: 90%;
      }

     .nav {
        flex-direction: column;
     } 
}